<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="row">
			<div class="col-sm-12">
				<form method="post">
					<% if (message.length > 0){ %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" id="username" placeholder="username" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="text" class="form-control" id="password" placeholder="password" name="password">
					</div>
					<button class="btn btn-primary btn-block">Login</button>
					<input type="hidden" name="_csrf" value="<%= token %>">
				</form>
			</div>
		</div>
		<div class="row top-margin">
			<div class="col-sm-6">
				<button class="btn btn-block facebook">
					<i class="fa fa-facebook"></i>Facebook
				</button>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-block google">
					<i class="fa fa-google"></i>Google
				</button>
			</div>
		</div>
	</div>
</div>